<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buu.oa.mapper.ApprovalRecordMapper">

    <select id="selectByBusinessTypeAndId" resultType="org.buu.oa.entity.ApprovalRecord">
        SELECT * FROM approval_record
        WHERE business_type = #{businessType} AND business_id = #{businessId}
        ORDER BY create_time DESC
    </select>

</mapper>